/* Main section */
.villa-listing {
  padding: 60px 0;
  background: var(--color-light);
}

.section-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 40px;
  color: var(--color-primary);
}

/* CARD CONTAINER (3 columns) */
.villa-card {
  width: 90%;
  margin: 0 auto 40px auto;
  display: grid;
  grid-template-columns: 35% 45% 20%;
  background: rgb(255, 255, 255);
  box-shadow: 0 6px 20px rgba(0,0,0,0.12);
  overflow: hidden;
  padding: 0;
  
}

/* Column layout wrapper */
.villa-col {
  padding: 20px;
}

/* Column 1 — Image */
.image-col {
  padding: 0;
}

.image-col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Column 2 — Content */
.content-col .villa-name {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-primary);
  margin-bottom: 6px;
}

.content-col .villa-location {
  color: var(--color-accent);
  font-size: 1rem;
  margin-bottom: 15px;
}

.content-col .villa-desc {
  color: #333;
  margin-bottom: 18px;
  line-height: 1.4;
}

.villa-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {  
  color: var(--color-accent );
  padding: 6px 12px;
  border: 1px solid var(--color-accent);
  border-radius: 20px;
  font-size: 0.85rem;
}

/* Column 3 — Price */
.price-col {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.03);
  border-left: 1px solid rgba(0,0,0,0.08);
}

.price-box {
  text-align: center;
}

.villa-price {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-primary);
}

.price-label {
  font-size: 0.85rem;
  color: #444;
}
.price-box > button > a {
    color:white;
}

.per-night{
    font-size: 1rem;
    font-weight:100;
}