body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #FAF9F6;
    color: #0A1A2F;
}
h1, h2, h3 {
    margin: 0;
}

.section {
    padding: 60px 8%;
}

.section-title {
    font-size: 32px;
    margin-bottom: 30px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 20px 8%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.logo {
    font-size: 26px;
    font-weight: bold;
    color: #1E6F9F;
}
.btnblue{
    background: #1E6F9F;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size:16px;

}
.btnorange{
    background:  #FF7F6A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}
.btnblue:hover,
.btnorange:hover {
    opacity: 0.8;
}

.hero {
    position: relative;
    height: 80vh;
    margin: 30px 8%;
    border-radius: 20px;
    background-image: url('https://images.unsplash.com/photo-1580587771525-78b9dba3b914?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.hero-overlay {
    position: absolute;
    inset: 0;
    background:rgba(0,0,0,0.6);
}
.hero-content {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: white;
}

.hero-content h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 20px;
}
/*featured villa section*/
.villa-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.villa-card {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
}

.villa-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.villa-card h3 {
    margin: 15px 0 8px;
    color: #1E6F9F;
}

.villa-card p {
    color: gray;
    font-size: 14px;
    margin-bottom: 15px;
}

.amenities {
    background: #A8E6E6;
    padding: 60px 8%;
    margin-bottom: 20px;
}

.amenities-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    text-align: center;
}

.amenity {
    background: white;
    padding: 20px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    color: #1E6F9F;
}
/* footer */

.footer {
    background: #0A1A2F;
    color: #fff;
    padding: 60px 20px 30px;
    font-family: Arial, sans-serif;
}

.footer-container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-col{
    flex: 1 1 200px;
    /* border:solid white; */
    margin: 10px;
}

.social-links a {
    display: inline-block;
    margin-right: 12px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    padding: 6px 12px;
    border-radius: 20px;
    transition: 0.3s;
}
.footer-bottom {
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #333;
}
.social-links{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top:11px ;
}
.social-links a {
    width:70px;
    text-align: center;
}

.footer-bottom p {
    color: #aaa;
    font-size: 14px;
}
