<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/components/hero.css">
    <title>Document</title>
</head>
<body>
       <section class="hero">
      <div class="container hero-inner">
        <h1>Relax. Explore. Experience Coastal Living.</h1>
        <p>Discover curated villas that give you comfort, privacy and an unforgettable holiday.</p>
        <button class="btn-primary">Call to Book</button>
      </div>
    </section>
</body>
</html>